<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Register For Event</title>
</head>
<body>
    <p>Register Event</p>
    <br><br>
    <p>You have chosen to register for this event.</p>
    <p th:text="${eventName}"></p>
    <td th:text="${#dates.format(new java.util.Date(eventDate), 'dd-MM-yyyy')}"></td>

    <br><br><br>
    <form th:action="@{/register}" method="post" th:object="${participant}">
        <div>
            <div>
                <label for="name">Full Name</label>
                <input type="text" id="name" th:field="*{name}" placeholder="Full Name">
                <p th:if="${#fields.hasErrors('name')}" th:errors="*{name}" th:errorclass="error"></p>
            </div>
            <br>
            <div>
                <label for="dateOfBirth">DOB</label>
                <input type="date" id="dateOfBirth" th:field="*{dateOfBirth}" >
                <p th:if="${#fields.hasErrors('dateOfBirth')}" th:errors="*{dateOfBirth}" th:errorclass="error"></p>
            </div>
            <br>
            <div>
                <label for="email">Email</label>
                <input type="text" id="email" th:field="*{email}" >
                <p th:if="${#fields.hasErrors('email')}" th:errors="*{email}" th:errorclass="error"></p>
            </div>
            <br>
            <div>
                <label for="phoneNumber">Mobile No.</label>
                <input type="text" id="phoneNumber" th:field="*{phoneNumber}" >
                <p th:if="${#fields.hasErrors('phoneNumber')}" th:errors="*{phoneNumber}" th:errorclass="error"></p>
            </div>
            <br>
            <div>
                <label for="numTickets">Number of Tickets</label>
                <input type="number" id="numTickets" th:field="*{numTickets}" >
                <p th:if="${#fields.hasErrors('numTickets')}" th:errors="*{numTickets}" th:errorclass="error"></p>
            </div>
            <br>
            <input type="hidden" name="eventName" th:value="${eventName}">
            <input type="hidden" name="eventDate" th:value="${eventDate}">
            <div>
                <input type="submit" value="Register">
            </div>
        </div>
    </form>
    
    
</body>
</html>